@import url(normalize.css);
@import url(variable.css);

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
button {
  font-family: var(--primary-font-family);
  font-weight: 400;
}

a {
  color: var(--primary-font-color);
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid var(--default-border-color);
}
